<div class="jumbotron">
  <h1>We all love kittens</h1>
  <p>But I <i>just don't know</i> where to find them on the <b>internet</b>.<span class="glyphicon glyphicon-heart"></span></p>
  <p>

    <a class="btn btn-primary btn-lg" role="button" href="/about">Learn more</a>
    <a class="btn btn-danger btn-lg" role="button" href="https://www.google.com/search?q=puppies&tbm=isch">I prefer puppies</a>
  </p>
</div>
<div>
<table class="table">
  <tr>
    <th>User of the Month</th>
    <th>Month</th>
  </tr>
  <tr>
    <td>Cats4Life</td>
    <td>January</td>
  </tr>
<tr>
    <td>CatFacedKillah</td>
    <td>February</td>
  </tr>
  <tr>
    <td>CatManDo</td>
    <td>March</td>
  </tr>
<tr>
    <td>CatintheHat11</td>
    <td>April</td>
  </tr>
<tr>
    <td>CatDaddy445</td>
    <td>May</td>
  </tr>
<tr>
    <td>RatCat332</td>
    <td>June</td>
  </tr>
</table>
</div>
