
 <div class="col-md-4"><img class="img-responsive" src="http://skunkstripe.files.wordpress.com/2010/01/baby-and-mama-in-the-sink.jpeg"/></div>
  <div class="col-md-4"><img class="img-responsive" src="http://www.omgsocute.com/wp-content/uploads/2011/09/cat-huggin-kitten.jpg"/></div> <div class="col-md-4"><img class="img-responsive" src="http://critterbabies.com/wp-content/gallery/kittens/Kitten-pic-cute-kittens-16292210-1024-768.jpg"/></div>
  <div class="col-md-4"><img class="img-responsive" src="http://www.tehcute.com/pics/201109/kitten-bouquet-big.jpg"/></div>

<!--  <h1>Page#recent</h1>
<p>Find me in app/views/page/Recent.html.erb</p>
